h1 {
    text-align: center;
}

.subtitle {
    padding-left: 35px;
}

.programm {
    display: flex;
    margin: 10px;
    padding: 10px;

}

.programmImage img {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    padding-left: 15px;
    padding-right: 15px;  
    
}

.proggramText {
    font-size: medium;
    padding-left: 15px;
    padding-right: 15px;    
    text-align: justify;
    text-justify: inter-word;
}

.tuitionContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}